 a) Read the dataset (CSV) into a Pandas DataFrame

In [1]:

import pandas as pd
csv_content=pd.read_csv('titanic_csv.csv')
print(csv_content.head())

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

 b) Write the loaded DataFrame into two additional formats:
 (a) Excel (.xlsx)
 (b) JSON (.json)

In [2]:
# writing csv data into excel file
# excel file name : titanic_excel
csv_content.to_excel("titanic_excel.xlsx",index=False)

In [3]:
# writing csv data into json file
csv_content.to_json('titanic_json.json')

 c) Read the dataset back from each format (CSV, Excel, JSON) into new DataFrames
 and verify consistency (e.g., shape, column names, basic value checks)

In [4]:
# reading titanic_excel 
excel_df=pd.read_excel('titanic_excel.xlsx')
print(excel_df.head())

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

In [5]:
# reading titanic_json dataset
json_df=pd.read_json('titanic_json.json')
print(json_df.head())

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292  None        Q
1   363272   7.0000  None        S
2   240276   9.6875  None        Q
3   315154   8.6625  None        S
4  3101298  12.2875  None        S

Append a few new passenger rows to each format (CSV, Excel, JSON). Reload each
file and confirm that the newly appended rows are present.

In [ ]:
# reading features in csv file
csv_data_features=csv_content.columns
# print(csv_data_features)
# print(csv_content.info())

# appending new data into csv file
try:
    csv_new_data = {'PassengerId':[891],'Survived':[1],'Pclass':[3],'Name':['Abhinandan'],'Sex':['male'],'Age':['22.1'],'SibSp':[1],'Parch':[0],'Ticket':['123365'],'Fare':[6.456],'Cabin':['B12'],'Embarked':['Q']}
    csv_new_df_to_append=pd.DataFrame(csv_new_data)
    # print(csv_new_df_to_append)
    # permission denied while appending new data into dataset

    # apply this method
    combined_dataframe=pd.concat([csv_content,csv_new_df_to_append],ignore_index=True)
    combined_dataframe.to_csv('new_titanic_csv.csv',mode='w',index=False)
except Exception as e:
    print(e)

In [8]:
# appending data into excel
excel_new_data = {'PassengerId':[891],'Survived':[1],'Pclass':[3],'Name':['Abhinandan'],'Sex':['male'],'Age':['22.1'],'SibSp':[1],'Parch':[0],'Ticket':['123365'],'Fare':[6.456],'Cabin':['B12'],'Embarked':['Q']}
excel_new_df_to_append=pd.DataFrame(excel_new_data)

excel_combined_df=pd.concat([excel_df,excel_new_df_to_append],ignore_index=True)
excel_combined_df.to_excel('new_titanic_excel.xlsx',index=False)

In [9]:
# appending new data into json
excel_new_data = {'PassengerId': 891, 'Survived': 1, 'Pclass': 3, 'Name': 'Abhinandan', 'Sex': 'male', 'Age': 
    '22.1', 'SibSp': 1, 'Parch': 0, 'Ticket': '123365', 'Fare': 6.456, 'Cabin': 'B12', 'Embarked': 'Q'}

json_new_df_to_append=pd.DataFrame([excel_new_data])
json_combined_df=pd.concat([json_df,json_new_df_to_append],ignore_index=True)
json_combined_df.to_json('new_titanic_json.json',index=False)

dataset's information of the data

In [11]:
# information of all the datas of the dataset
print(csv_content.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   418.000000  418.000000  418.000000  332.000000  418.000000
mean   1100.500000    0.363636    2.265550   30.272590    0.447368
std     120.810458    0.481622    0.841838   14.181209    0.896760
min     892.000000    0.000000    1.000000    0.170000    0.000000
25%     996.250000    0.000000    1.000000   21.000000    0.000000
50%    1100.500000    0.000000    3.000000   27.000000    0.000000
75%    1204.750000    1.000000    3.000000   39.000000    1.000000
max    1309.000000    1.000000    3.000000   76.000000    8.000000

            Parch        Fare
count  418.000000  417.000000
mean     0.392344   35.627188
std      0.981429   55.907576
min      0.000000    0.000000
25%      0.000000    7.895800
50%      0.000000   14.454200
75%      0.000000   31.500000
max      9.000000  512.329200